@import "reset.scss";
$val90:90px;
body {
  font: 100%/1.5 '\5FAE\8F6F\96C5\9ED1', Arial, sans-serif;
  background: #fff;
}
.wrap {
  margin:0 auto;
  width:960px;
}
.headerWrap {
  padding-top:10px;
  background:#6cc5c9;
  border-bottom: 1px solid #85dde1;
  margin-bottom: $val90;
  box-shadow: 0 4px 8px #999;
}
.iDoLogo {
  height:59px;
  background-image:url(../img/iDoLogo.png);
  @extend .bg-contain;
  background-position: left center;
  margin:0 10px;
}
.iDoNavWrap {
  margin-top: -38px;
  text-align: right;
  font-size: 0.875em;
}
.iDoNav {
  display: inline-block;
  background: #439390;
  -webkit-border-radius: 10px;
  border-radius: 3px;
  vertical-align: middle;
  padding:8px 0;
  a {
    color: #fff;
    padding:0 10px;
    display:inline-block;
    &:hover {
      text-decoration:none;
      color:#fedf0f;
    }
  }
}
.hgrounp {
  text-align: center;
  color:#fff;
  padding:20px 0 15px;
  font-size: 1em;
  h1,h2 {
    font-weight: normal;
    margin:0;
    padding:0;
  }
  h1 {
    font-size: 3em;
    text-shadow: 1px 2px 0 #203b3c;
    line-height:2;
  }
  h2 {
    font-size:1.875em;
  }
}
.clientPic {
  height:422px;
  background-image:url(../img/clientPic.png);
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/clientPic.png', sizingMethod='crop');
  _background: none;
  @extend .bg-contain;
  margin-bottom: -$val90;
}
.adLangrage {
  font-size: 1.875em;
  text-align: center;
  color:#000;
  line-height: 2;
  padding:20px 0;
  a {
    color:#fff;
    display: inline-block;
    -webkit-border-radius:5px;
    border-radius:5px;
    background:#000;
    margin-left:20px;
    padding:0 30px;
    background:#f85e0c;
    box-shadow: inset 0 0 30px #c44500;
    &:hover {
      text-decoration: none;
      background:#ff9c0f;
    }
  }
}


.boxConModel {
  font-size: 0;
  *word-spacing: -1px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .boxConModel {
    letter-spacing: -5px;
  }
}
.boxCon {
  display: inline-block;
  *display:inline;
  *zoom:1;
  font-size: 12px;
  word-spacing:normal;
  letter-spacing:normal;
  vertical-align:top;
  width:33.33%;
  color:#333;
}
.boxShadow {
  display: block;
  border:1px solid #e0e0e0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow:0 0 5px #e0e0e0;
  margin:14px 7px;
}
.blockCon {
  padding:52px 15px 15px;
  li {
    a {
      border-bottom:1px dotted #ccc;
      display: block;
      word-wrap: normal;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      -o-text-overflow:ellipsis;
      outline:0 !important;
      padding:6px 0;
      font-size: 14px;
    }
    a,a:hover {
      color:#333;
      text-decoration:none;
    }
  }
}
.titleCap {
  height:215px;
  @extend .bg-contain;
}
.blockCon {
  background-position: 10px 10px;
  background-repeat: no-repeat;
}
.firstBlock {
  .titleCap {
    background-image:url(../img/titleCapBg1.png);
  }
  .blockCon {
    background-image:url(../img/blockConTit1.png);
  }
}
.secondBlock {
  .titleCap {
    background-image:url(../img/titleCapBg2.png);
  }
  .blockCon {
    background-image:url(../img/blockConTit2.png);
  }
}
.thridBlock {
  .titleCap {
    background-image:url(../img/titleCapBg3.png);
  }
  .blockCon {
    background-image:url(../img/blockConTit3.png);
  }
}
.footerWrap {
  margin-top:20px;
}
.footerNav {
  background:#2d2e2f;
  border-bottom:1px solid #111;
  padding-bottom:15px;
  box-shadow: inset 0 5px 10px #131314;
}
.footerFt {
  text-align: center;
  background:#28292a;
  border-top:1px solid #464646;
  color:#555;
  font-size:0.75em;
  line-height:5;
  text-shadow: 1px 1px 0 #000;
  @extend .tx-elli;
}
.ftNav {
  font-size: 0;
  *word-spacing: -1px;
  padding:0 10px;
  li {
    display: inline-block;
    *display:inline;
    *zoom:1;
    font-size:12px;
    word-spacing:normal;
    letter-spacing:normal;
    vertical-align:top;
    width:16.66%;
    padding-top: 15px;
    h4 {
      margin:0;
      padding:8px 0;
      font-weight: normal;
      font-size:1.333em;
      color:#fff;
    }
    a {
      display: block;
      word-wrap:normal;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      -o-text-overflow:ellipsis;
      padding:5px 0;
      text-shadow:1px 1px 0 #1e1e1f;
    }
    a,a:hover {
      text-decoration:none;
      color:#666;
    }
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .ftNav {
    letter-spacing: -5px;
  }
}













@media (max-width:960px) {
  .wrap {
    width:100%;
  }
}
@media (max-width:480px) {
  .wrap {
    width:100%;
  }
  $val90:45px;
  .headerWrap {
    margin-bottom: $val90;
  }
  .iDoLogo {
    height:45px;
  }
  .iDoNavWrap {
    margin-top:5px;
    text-align:center;
    font-size: 0.750em;
  }
  .hgrounp {
    padding:10px 0 10px;
    font-size: 0.6em;
  }
  .clientPic {
    height:190px;
    margin-bottom: -$val90;
  }
  .adLangrage {
    font-size: 1em;
  }

  .boxConModel {
    display: -webkit-box;
    display:box;
    -webkit-box-orient:vertical;
    box-orient:vertical;
  }
  .boxCon {
    display: -webkit-box;
    display: box;
    width:100%;
  }
  .titleCap {
    display: block;
    height: 70px;
    width:20%;
  }
  .blockCon {
    -webkit-box-flex:1;
    box-flex:1;
  }
  .boxShadow {
    margin:7px;
  }
  .ftNav li {
    text-align:center;
    width:33.33%;
  }
}
@media (max-width:320px) {
  .wrap {
    width:100%;
  }
  $val90:30px;
  .headerWrap {
    margin-bottom: $val90;
  }
  .iDoLogo {
    background-position: center center;
  }
  .hgrounp {
    padding:5px 0 5px;
    font-size: 0.45em;
  }
  .clientPic {
    height:140px;
    margin-bottom: -$val90;
  }
  .adLangrage {
    font-size: 1em;
    padding-top: 10px;
  }
  .titleCap {
    width:10%;
    height:30px;
  }
}
