html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
}
abbr[title] {
  border-bottom: 1px dotted;
}
div {
  outline:0 !important;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
nav ul,
nav ol,ul,ol {
  list-style: none;
  list-style-image: none;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}
small {
  font-size: 75%;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  -webkit-touch-callout:none;
}
.set-imgMaxWidth img {
  max-width: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
input {
  -webkit-appearance:none;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body {
  margin: 0;
  //font-family: '\5FAE\8F6F\96C5\9ED1', Arial, sans-serif;
  //font-size: 100%;
  //line-height: 1.5;
  //color: #333333;
  //background-color: transparent;
}
html,body {
  height: 100%;
  min-height:100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.525em 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
}

hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
  box-sizing: content-box;
}

.c-fix {
  *zoom: 1;
}
.c-fix:before,
.c-fix:after {
  display: table;
  line-height: 0;
  content: "";
}
.c-fix:after {
  clear: both;
}

.f-l {
  float: left;
}
.f-r {
  float: right;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 1.875em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hide-text {
  font: 0/0 Arial;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.tx-elli {
  word-wrap:normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: 0 !important;
}

.d-n {
  display:none!important;
}
.d-b {
  display: block!important;
}
.d-box {
  display:-webkit-box;
  display:box;
}

.b-orient-h {
  -webkit-box-orient:horizontal!important;
  box-orient:horizontal!important;
}
.b-orient-v {
  -webkit-box-orient:vertical!important;
  box-orient:vertical!important;
}
.b-flex1 {
  -webkit-box-flex:1;
  box-flex:1;
}
.b-flex2 {
  -webkit-box-flex:2;
  box-flex:2;
}
.b-flex3 {
  -webkit-box-flex:3;
  box-flex:3;
}
.b-flex4 {
  -webkit-box-flex:4;
  box-flex:4;
}
.b-align-c {
  -webkit-box-align:center!important;
  box-align:center!important;
}
.b-align-j {
  -webkit-box-align:justify!important;
  box-align:justify!important;
}
.b-align-s {
  -webkit-box-align:start!important;
  box-align:start!important;
}
.b-align-e {
  -webkit-box-align:end!important;
  box-align:end!important;
}
.b-pack-c {
  -webkit-box-pack:center!important;
  box-pack:center!important;
}
.b-pack-j {
  -webkit-box-pack:justify!important;
  box-pack:justify!important;
}
.b-pack-s {
  -webkit-box-pack:start!important;
  box-pack:start!important;
}
.b-pack-e {
  -webkit-box-pack:end!important;
  box-pack:end!important;
}

.tx-l {
  text-align: left!important;
}
.tx-r {
  text-align: right!important;
}
.tx-c {
  text-align: center!important;
}
.tx-j {
  text-align: justify!important;
}

.va-m {
  vertical-align: middle!important;
}
.va-t {
  vertical-align: top!important;
}
.va-b {
  vertical-align: bottom!important;
}
.va-baseline {
  vertical-align: baseline!important;
}

.p-a {
  position: absolute;
}
.p-r {
  position: relative;
}
.p-a-all {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.o-hidden {
  overflow:hidden;
}

.visib_v {
  visibility:visible!important;
}
.visib_h {
  visibility:hidden!important;
}

.bg-contain {
  -webkit-background-size:contain;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}

.w-all {
  width: 100%;
}
.h-all {
  height: 100%;
}
.h-100 {
  display: block;
  height:100px;
  height:auto!important;
  min-height: 100px;
}

.pd-3-0 {
  padding:3px 0!important;
}
.pd-5-0 {
  padding:5px 0!important;
}
.pd-10-0 {
  padding:10px 0!important;
}
.pd-15-0 {
  padding:15px 0!important;
}
.pd-20-0 {
  padding:20px 0!important;
}
.pd-25-0 {
  padding:25px 0!important;
}
.pd-30-0 {
  padding:30px 0!important;
}
.pd-35-0 {
  padding:35px 0!important;
}
.pd-40-0 {
  padding:40px 0!important;
}
.pd-45-0 {
  padding:45px 0!important;
}
.pd-50-0 {
  padding:50px 0!important;
}

.mg-3-0 {
  margin:3px 0!important;
}
.mg-5-0 {
  margin:5px 0!important;
}
.mg-10-0 {
  margin:10px 0!important;
}
.mg-15-0 {
  margin:15px 0!important;
}
.mg-20-0 {
  margin:20px 0!important;
}
.mg-25-0 {
  margin:25px 0!important;
}
.mg-30-0 {
  margin:30px 0!important;
}
.mg-35-0 {
  margin:35px 0!important;
}
.mg-40-0 {
  margin:40px 0!important;
}
.mg-45-0 {
  margin:45px 0!important;
}
.mg-50-0 {
  margin:50px 0!important;
}

.pd-0-3 {
  padding: 0 3px!important;
}
.pd-0-5 {
  padding: 0 5px!important;
}
.pd-0-10 {
  padding: 0 10px!important;
}
.pd-0-15 {
  padding: 0 15px!important;
}
.pd-0-20 {
  padding: 0 20px!important;
}
.pd-0-25 {
  padding: 0 25px!important;
}
.pd-0-30 {
  padding: 0 30px!important;
}
.pd-0-35 {
  padding: 0 35px!important;
}
.pd-0-40 {
  padding: 0 40px!important;
}
.pd-0-45 {
  padding: 0 45px!important;
}
.pd-0-50 {
  padding: 0 50px!important;
}

.mg-0-3 {
  margin: 0 3px!important;
}
.mg-0-5 {
  margin: 0 5px!important;
}
.mg-0-10 {
  margin: 0 10px!important;
}
.mg-0-15 {
  margin: 0 15px!important;
}
.mg-0-20 {
  margin: 0 20px!important;
}
.mg-0-25 {
  margin: 0 25px!important;
}
.mg-0-30 {
  margin: 0 30px!important;
}
.mg-0-35 {
  margin: 0 35px!important;
}
.mg-0-40 {
  margin: 0 40px!important;
}
.mg-0-45 {
  margin: 0 45px!important;
}
.mg-0-50 {
  margin: 0 50px!important;
}

.pd-3 {
  padding:3px!important;
}
.pd-5 {
  padding:5px!important;
}
.pd-10 {
  padding:10px!important;
}
.pd-15 {
  padding:15px!important;
}
.pd-20 {
  padding:20px!important;
}
.pd-25 {
  padding:25px!important;
}
.pd-30 {
  padding:30px!important;
}
.pd-35 {
  padding:35px!important;
}
.pd-40 {
  padding:40px!important;
}
.pd-45 {
  padding:45px!important;
}
.pd-50 {
  padding:50px!important;
}

.mg-3 {
  margin:3px!important;
}
.mg-5 {
  margin:5px!important;
}
.mg-10 {
  margin:10px!important;
}
.mg-15 {
  margin:15px!important;
}
.mg-20 {
  margin:20px!important;
}
.mg-25 {
  margin:25px!important;
}
.mg-30 {
  margin:30px!important;
}
.mg-35 {
  margin:35px!important;
}
.mg-40 {
  margin:40px!important;
}
.mg-45 {
  margin:45px!important;
}
.mg-50 {
  margin:50px!important;
}

.pd-r-3 {
  padding-right:3px!important;
}
.pd-r-5 {
  padding-right:5px!important;
}
.pd-r-10 {
  padding-right:10px!important;
}
.pd-r-15 {
  padding-right:15px!important;
}
.pd-r-20 {
  padding-right:20px!important;
}
.pd-r-25 {
  padding-right:25px!important;
}
.pd-r-30 {
  padding-right:30px!important;
}
.pd-r-35 {
  padding-right:35px!important;
}
.pd-r-40 {
  padding-right:40px!important;
}
.pd-r-45 {
  padding-right:45px!important;
}
.pd-r-50 {
  padding-right:50px!important;
}

.mg-r-3 {
  margin-right:3px!important;
}
.mg-r-5 {
  margin-right:5px!important;
}
.mg-r-10 {
  margin-right:10px!important;
}
.mg-r-15 {
  margin-right:15px!important;
}
.mg-r-20 {
  margin-right:20px!important;
}
.mg-r-25 {
  margin-right:25px!important;
}
.mg-r-30 {
  margin-right:30px!important;
}
.mg-r-35 {
  margin-right:35px!important;
}
.mg-r-40 {
  margin-right:40px!important;
}
.mg-r-45 {
  margin-right:45px!important;
}
.mg-r-50 {
  margin-right:50px!important;
}

.pd-l-3 {
  padding-left:3px!important;
}
.pd-l-5 {
  padding-left:5px!important;
}
.pd-l-10 {
  padding-left:10px!important;
}
.pd-l-15 {
  padding-left:15px!important;
}
.pd-l-20 {
  padding-left:20px!important;
}
.pd-l-25 {
  padding-left:25px!important;
}
.pd-l-30 {
  padding-left:30px!important;
}
.pd-l-35 {
  padding-left:35px!important;
}
.pd-l-40 {
  padding-left:40px!important;
}
.pd-l-45 {
  padding-left:45px!important;
}
.pd-l-50 {
  padding-left:50px!important;
}

.mg-l-3 {
  margin-left:3px!important;
}
.mg-l-5 {
  margin-left:5px!important;
}
.mg-l-10 {
  margin-left:10px!important;
}
.mg-l-15 {
  margin-left:15px!important;
}
.mg-l-20 {
  margin-left:20px!important;
}
.mg-l-25 {
  margin-left:25px!important;
}
.mg-l-30 {
  margin-left:30px!important;
}
.mg-l-35 {
  margin-left:35px!important;
}
.mg-l-40 {
  margin-left:40px!important;
}
.mg-l-45 {
  margin-left:45px!important;
}
.mg-l-50 {
  margin-left:50px!important;
}

.pd-t-3 {
  padding-top:3px!important;
}
.pd-t-5 {
  padding-top:5px!important;
}
.pd-t-10 {
  padding-top:10px!important;
}
.pd-t-15 {
  padding-top:15px!important;
}
.pd-t-20 {
  padding-top:20px!important;
}
.pd-t-25 {
  padding-top:25px!important;
}
.pd-t-30 {
  padding-top:30px!important;
}
.pd-t-35 {
  padding-top:35px!important;
}
.pd-t-40 {
  padding-top:40px!important;
}
.pd-t-45 {
  padding-top:45px!important;
}
.pd-t-50 {
  padding-top:50px!important;
}

.mg-t-3 {
  margin-top:3px!important;
}
.mg-t-5 {
  margin-top:5px!important;
}
.mg-t-10 {
  margin-top:10px!important;
}
.mg-t-15 {
  margin-top:15px!important;
}
.mg-t-20 {
  margin-top:20px!important;
}
.mg-t-25 {
  margin-top:25px!important;
}
.mg-t-30 {
  margin-top:30px!important;
}
.mg-t-35 {
  margin-top:35px!important;
}
.mg-t-40 {
  margin-top:40px!important;
}
.mg-t-45 {
  margin-top:45px!important;
}
.mg-t-50 {
  margin-top:50px!important;
}

.pd-b-3 {
  padding-bottom:3px!important;
}
.pd-b-5 {
  padding-bottom:5px!important;
}
.pd-b-10 {
  padding-bottom:10px!important;
}
.pd-b-15 {
  padding-bottom:15px!important;
}
.pd-b-20 {
  padding-bottom:20px!important;
}
.pd-b-25 {
  padding-bottom:25px!important;
}
.pd-b-30 {
  padding-bottom:30px!important;
}
.pd-b-35 {
  padding-bottom:35px!important;
}
.pd-b-40 {
  padding-bottom:40px!important;
}
.pd-b-45 {
  padding-bottom:45px!important;
}
.pd-b-50 {
  padding-bottom:50px!important;
}

.mg-b-3 {
  margin-bottom:3px!important;
}
.mg-b-5 {
  margin-bottom:5px!important;
}
.mg-b-10 {
  margin-bottom:10px!important;
}
.mg-b-15 {
  margin-bottom:15px!important;
}
.mg-b-20 {
  margin-bottom:20px!important;
}
.mg-b-25 {
  margin-bottom:25px!important;
}
.mg-b-30 {
  margin-bottom:30px!important;
}
.mg-b-35 {
  margin-bottom:35px!important;
}
.mg-b-40 {
  margin-bottom:40px!important;
}
.mg-b-45 {
  margin-bottom:45px!important;
}
.mg-b-50 {
  margin-bottom:50px!important;
}
.mg-auto {
  margin-left:auto!important;
  margin-right:auto!important;
}

.dib-wrap {
  font-size:0;
  *word-spacing:-1px;
}
.dib-wrap .dib{
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align:top;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
  .dib-wrap{
    letter-spacing:-5px;
  }
}
.dib {
  display: inline-block;
  *display:inline;
  *zoom:1;
}
.overfix {
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
}